{% extends 'layout.html' %} {% block content %}
<div class="container mt-5">
  <h1 class="mb-4">Make Diary Entry</h1>
  <form
    id="diary_entry"
    action="{{ url_for('insertEntry') }}"
    method="POST"
    class="row g-3"
  >
    {{ form.hidden_tag() }}
    <div class="col-md-6">
      <label for="devtag" class="form-label">Devtag</label>
      {{ form.devtag(class="form-control", id="devtag") }}
    </div>
    <div class="col-md-6">
      <label for="project" class="form-label">Project</label>
      {{ form.project(class="form-control", id="project") }}
    </div>
    <div class="col-md-6">
      <label for="repo" class="form-label">Repo</label>
      {{ form.repo(class="form-control", id="repo") }}
    </div>
    <div class="col-md-6">
      <label for="starttime" class="form-label">Start Time</label>
      {{ form.starttime(class="form-control", id="starttime") }}
    </div>
    <div class="col-md-6">
      <label for="endtime" class="form-label">End Time</label>
      {{ form.endtime(class="form-control", id="endtime") }}
    </div>
    <div class="col-md-6">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
{% endblock %}
